/Ciclo 2/Reto 1/BecaUniversitaria/build/
/Ciclo 2/Reto 1/BecaUniversitaria/nbproject/private/

/Ciclo 2/Reto 1/BecaUniversitaria2/build/
/Ciclo 2/Reto 1/BecaUniversitaria2/nbproject/private/

/Ciclo 2/Reto 2/Computadores/nbproject/private/
/Ciclo 2/Reto 2/Computadores/build/
/Ciclo 2/Reto 4/Reto4-Construccion/nbproject/private/
/Ciclo 2/Reto 1/Reto1_BecaUniversitaria/nbproject/private/
/Ciclo 2/Reto 2/Reto2_Computadores/nbproject/private/
/Ciclo 2/Reto 4/Reto4_Construccion/nbproject/private/
/Ciclo 2/Reto 4/Reto4_Construccion/build/
/Ciclo 2/Reto 5/Reto5_GUI_Construccion/build/
