/Ciclo 2/Reto 1/BecaUniversitaria/build/
/Ciclo 2/Reto 1/BecaUniversitaria/nbproject/private/

/Ciclo 2/Reto 1/BecaUniversitaria2/build/
/Ciclo 2/Reto 1/BecaUniversitaria2/nbproject/private/

/Ciclo 2/Reto 2/Computadores/nbproject/private/
/Ciclo 2/Reto 2/Computadores/build/
